@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

html {
  font-family: "Manrope", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(225, 20%, 60%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(228, 100, 99);
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  padding-bottom: 200px;
  height: 100%;
}

.heading {
  background-image: url(../images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center 15px;
  height: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  color: hsl(227, 35%, 25%);
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.subheading {
  color: hsl(225, 20%, 60%);
  margin-bottom: 0;
}

.container {
  color: hsl(225, 20%, 60%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  box-shadow: 0px 18px 18px 0px rgb(235, 235, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
}

.views-price-container {
  align-items: center;
  width: 100%
}

.views {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.price {
  text-align: right;
}

.h2 {
  color: hsl(227, 35%, 25%);
  font-size: 38px;
  font-weight: 800;
}

.per-month {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-left: 7px;
}

.slider {
  cursor: pointer;
  height: 8px;
  width: 88%;
  border-radius: 50px;
  background: linear-gradient(to right, hsl(174, 77%, 80%) 0%, hsl(174, 77%, 80%) 50%, #b3b3b3 50%, #b3b3b3 100%);
  -webkit-appearance: none;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-thumb {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-color: hsl(174, 86%, 45%);
  box-shadow: 0px 2px 12px hsl(174, 77%, 80%);
  background-position: center center;
  background-size: auto;
  -webkit-appearance: none;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  position: relative;
  cursor: pointer;
  height: 34px;
  width: 64px;
  background-color: #cdd7ee;
  border-radius: 30px;
  display: block;
}

label::after {
  content: "";
  height: 29.5px;
  width: 30px;
  background-color: white;
  border-radius: 30px;
  transition: 0.5s;
  position: absolute;
  top: 2px;
  left: 2px;
}

input:checked+label {
  background-color: hsl(174, 77%, 80%);
}

input:checked+label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.bill_toggle {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}

.monthly {
  margin-right: 20px;
}

.yearly_bill {
  margin-left: 18px;
}

.discount {
  font-size: 15px;
  font-weight: bold;
  color: hsl(15, 100%, 70%);
  background-color: hsl(14, 92%, 95%);
  border-radius: 20px;
}

hr {
  border-top: 1px solid rgba(1, 1, 1, .1);
}

.footer {
  text-align: center;
  align-items: center;
  width: 100%;
}

li {
  list-style-type: none;
}

li::before {
  content: url(../images/icon-check.svg);
  margin-right: 0.5rem;
}

.btn {
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  border-radius: 45px;
  margin-bottom: 18px;
}

.btn:hover {
  cursor: pointer;
  outline: none;
  color: hsl(226, 100%, 87%);
}

.btn:focus {
  outline: none;
  color: hsl(226, 100%, 87%);
}

@media (max-width: 767px) {
  .heading h1 {
    font-size: 19px;
    letter-spacing: 0.5px;
  }

  .subheading {
    font-size: 13px;
    letter-spacing: 0.3px;
  }

  .features {
    text-align: center !important;
    margin-bottom: 30px;
  }

  label {
    width: 90px !important;
  }
}
